{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<div class="se-pre-con"></div>
{% block content %}
    <section id="register" class="section register">
        <div class="container">
            <center>
                <h2>Sign Up</h2>
            </center>
            {% if email_registered %}
            <center>
                <div class="alert" style="width:300px;height:50px;">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <p>Email ID is already registered !</p>
                </div>
                <p style="line-height:5px;">Have you already logged in using social logins ?</p>
                <p style="line-height:5px;">or</p>
                <p style="line-height:5px;"><a href="{% url 'website:forgotpassword' %}">Click Here</a> if you forgot your username or password</p>
            </center>
            {% endif %}
            {% if registration_complete %}
            <p> Your Account is Created Successfully !</p>
            {% endif %}
        <!--  <div class = "col-md-7">
           <div id = "my_form"> -->

                <form action="" method=POST>
                {% csrf_token %}
                 <a style="color:red; ">{{ render_field.errors }}</a>
               <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
				<td><label for="username">Username:</label><span style="color:red;">*</span></td>
				<td>{% render_field form.username %}</td>
			  </tr>
		        <tr>
				<td><label for="email">Email:</label><span style="color:red;">*</span></td>
				<td>{% render_field form.email %}</td>
			  </tr>
			   <tr>
				<td><label for="pwd">Password:</label><span style="color:red;">*</span></td>
				<td>{% render_field form.password %}</td>
			  </tr>
			   <tr>
				<td><label for="cnfpwd">Confirm Password:</label><span style="color:red;">*</span></td>
				<td>{% render_field form.confirm_password %}</td>
			  </tr>
			  <tr>
				<td><label for="name">Full Name:</label><span style="color:red;">*</span></td>
				<td>{% render_field form.title %}{% render_field form.first_name %} {% render_field form.last_name %}</td>
			  </tr>
			  <tr>
				<td><label for="contact">Contact number</label><span style="color:red;">*</span></td>
				<td>{% render_field form.phone_number %}</td>
			  </tr>
			  <tr>
				<td><label for="institute">Institute/Organization/Company</label><span style="color:red;">*</span></td>
				<td>{% render_field form.institute %}</td>
			  </tr>
			  <tr>
				<td><label for="how_did_you_hear_about_us">How did you hear about us?</label><span style="color:red;">*</span></td>
				<td>{% render_field form.how_did_you_hear_about_us %}</td>
			  </tr>
			  <tr>
                <td> </td>
                
                <td><span style="color:red;">*</span> marked fields are mandatory. Please enter the correct information. It will help us to solve your issues in short timespan.
                <br>
                
                </td>
                </tr>
                <tr><td><a class="btn btn-primary" href="{% url 'website:cfp' %}" style="text-decoration: none;float:right;">I have an account</a></td><td> <button class="btn btn-primary" type="submit">SignUp</button></td><tr>
                
    </table>
</div>

                <br>

                <!-- </div> -->
            </form>
            <br>
        <!--</div>-->
       </section>
{% endblock %}
